---
layout: default
---

# Welcome All 

I ,Minesh Jethva, planning to write blog about practicing data science in real life. By profession I am a Bioinformatics researcher and part-time kaggler.

# Blog Posts

## Let's start with well known dataset
<i>27 March 2018</i>
* We will start to build simple linear regression model for Predicting house pricing. 
* Description about the House Pricing Data, you can find on [Kaggle Competition page](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data)
* You can try running simple linear regression model using only 2 features on [kaggle kernel](https://www.kaggle.com/mineshjethva/let-s-do-the-minimal)
  * This is a very simple model to begin, in future we will perform data cleaning, exploratory analysis and advanced modelling techniques, etc.
  * But at this level you can try fork and run the given kernel, main goal here is to introduce you to simple python script for modelling using pandas, numpy and scikit learn. 
  * To improve model first you can note down current <i>RMSE</i> for model, then you can try using other feature than which we already used and have hands-on experiance.
  * If you encounter any problem you can [create issue](https://github.com/minesh1291/Practicing-Kaggle/issues/new) with script sniplet and output.

# Practice and Discuss
To report any issue or Initiate discussions.

* [Create New Issues](https://github.com/minesh1291/Practicing-Kaggle/issues/new)
* [Browse Issues](https://github.com/minesh1291/Practicing-Kaggle/issues)
* [Issue Categories](https://github.com/minesh1291/Practicing-Kaggle/labels)

# Links

* My Kaggle Profile [Link](https://www.kaggle.com/mineshjethva)
* My Bio [Link](https://minesh1291.github.io/)
* LinkedIn [Link](https://www.linkedin.com/in/mineshjethva/)
